/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Per-process container overrides (Galaxy depot images) + publishDir.
    Overrides the containers declared inside the modules.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'GENES_SOURCE|GENES_TARGET' {
        container  = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [ path: { "${params.outdir}/annotation" }, mode: 'copy' ]
    }

    withName: 'MMSEQS_RBH' {
        container  = 'https://depot.galaxyproject.org/singularity/mmseqs2:15.6f452--pl5321h6a68c12_0'
        publishDir = [ path: { "${params.outdir}/orthology" }, mode: 'copy' ]
    }

    withName: 'MINIMAP2_INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/minimap2:2.28--he4a0461_0'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'EXTRACT_SOURCE_REGION' {
        container = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'RANK_DNA_REGIONS|ANNOTATE_REGIONS' {
        container = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [
            path: { "${params.outdir}/regions" },
            mode: 'copy'
        ]
    }

    withName: 'MINIMAP2_REGION' {
        container  = 'https://depot.galaxyproject.org/singularity/minimap2:2.28--he4a0461_0'
        publishDir = [ path: { "${params.outdir}/regions/paf" }, mode: 'copy' ]
    }
    
    withName: 'MINIPROT_INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/miniprot:0.18--h577a1d6_0'
        publishDir = [
            enabled: false
        ]
    }
    
     withName: 'MINIPROT_ALIGN' {
        container = 'https://depot.galaxyproject.org/singularity/miniprot:0.18--h577a1d6_0'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'EXTRACT_SELECTED_SCAFFOLDS' {
        container = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [
            path: { "${params.outdir}/selected_scaffolds" },
            mode: 'copy'
        ]
    }

    withName: 'BUILD_SYNTENY_HTML' {
        container  = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [ path: { "${params.outdir}/views" }, mode: 'copy' ]
    }

    withName: 'FINAL_GENE_TABLE' {
        container  = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [ path: { "${params.outdir}/gene_table" }, mode: 'copy' ]
    }

    withName: 'BUILD_INDEX_HTML' {
        container  = 'https://depot.galaxyproject.org/singularity/python:3.10'
        publishDir = [ path: { "${params.outdir}/views" }, mode: 'copy' ]
    }
}
